.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 200px);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(3, 200px);
  }

  gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
